body {
    overflow-x: hidden!important;
    scroll-behavior: smooth!important;
}
#MenuIcon,
#MainMenu {
    z-index: 99999;
}

#MenuIcon {
    background-color: rgba(0, 0, 0, 0.466);
    height: 60px;
    width: 60px;
    position: fixed;
    top: 50px;
    right: 30px;
}

#MenuIcon:hover {
    cursor: pointer;
}

#MenuLine {
    height: 4px;
    width: 36px;
    background-color: white;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    transition: all .3s;
}

#MenuIcon:hover #MenuLine {
    width: 40px;
}

#MenuLine::before {
    content: '';
    height: 4px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top: 10px;
    transition: all .3s;
}

#MenuIcon:hover #MenuLine::before {
    width: 50px;
}

#MenuLine::after {
    content: '';
    height: 4px;
    width: 40px;
    background-color: white;
    position: absolute;
    margin-top: -10px;
    transition: all .3s;
}

#MenuIcon:hover #MenuLine::after {
    width: 50px;
}

#MainMenu {
    height: 100vh;
    width: 300px;
    background-color: #181818;
    position: fixed;
    top: 0;
    left: -300px;
    transition: all .5s ease-in-out;
}

#MainMenu ul {
    list-style: none;
    padding: 0px;
    margin: 0px;
    font-family: arial;
    color: white;
    text-align: center;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

#MainMenu ul li {
    margin: 20px;
}

#MainMenu ul li:hover {
    cursor: pointer;
}

#MainMenu .line {
    height: 2px;
    width: 150px;
    background-color: white;
    margin-top: 10px;
    position: absolute;
    left: 50%;
    border-radius: 2px;
    transform: translate(-50%);
    transition: all .3s;
}

#MainMenu ul li:hover .line {
    width: 180px;
}

#MainMenu a {
    text-decoration: none;
}

#navlogo {
    position: absolute;
    top: 20px;
    left: 50%;
    transform: translate(-50%);
}

#close {
    position: absolute;
    top: 20px;
    right: 10px;
    transform: translate(-50%);
}

#close:hover {
    cursor: pointer;
}
.vertical-align{
    display: flex!important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.text-align-center {
    text-align: center;
}

.bgImg {
    background-size: cover!important;
    background-position:  center!important;
    background-attachment: fixed!important;
}

.title {
    text-align: center;
    font-family: Raleway, sans-serif;
    text-transform: uppercase;
    letter-spacing: 3px;
    font-size: 36px;
  }

.buttons {
    text-align: center;
}

.button {
    background-image: linear-gradient( to left, #4193f0, #343ecc, #1455cc, #4193f0);
    /* background-image: linear-gradient( to left, #25aae1, #40d9e4, #40d9e4, #25aae1); */
    font-weight: 600;
    color: #fff;
    cursor: pointer;
    text-align: center;
    border: none;
    background-size: 300% 100%;
    border-radius: 2px;
    moz-transition: all 0.4s ease-in-out;
    -o-transition: all 0.4s ease-in-out;
    -webkit-transition: all 0.4s ease-in-out;
    transition: all 0.4s ease-in-out;
    margin: 10px 10px 10px 10px;
}

.button:hover {
    box-shadow: 0 0px 15px 0 rgba(78, 78, 78, 0.411);
}

.button:focus {
    outline: none;
}